.zeal {
  background-color: #325559;
  color: #d85226;
}

.heading {
  align-items: center;
  composes: zeal;
  display: flex;
  margin: 50px;
  padding: 50px;
  text-align: center;
}

.logo {
  height: auto;
  max-width: 200px;
}

.logo,
.title {
  flex: 1;
}
